name: hello-world
on: push
jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository code
        uses: actions/checkout@v4
      - name: print hello world file
        run: echo "$(cat hello_world.txt)"
        
